*{
    margin: 0;
    padding: 0;
}
h1{
    width:350px;
    height: 50px;
    border: 2px solid black;
    color: darkblue;
    text-align: center;
}
h2{
    font-size: 24px;
    text-decoration: underline;
}
h3{
    font-size: 20px;
    color: darkgreen;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
.project1{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(221, 221, 177)
}
.project2{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(230, 226, 149);
}
.project3{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(227, 230, 123);
}
#About{
    background-color: lightgreen;
    text-align: center;
}
#skills{
    background-color: lightyellow;
    font-weight: bold;
}
nav{
    list-style-type: none;
    color: orange;
    text-decoration: underline;
} 
img {
    border: 2px solid black;
    border-radius: 50%;
}
#skills>ul>li::before{
    content: "â­";
}